body {
  background-color: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divTextInputs {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.BtnSubmit {
  height: 30px;
  width: 200px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: black;
  color: white;
}

.divTextInputs {
  width: 50vw;
  display: flex;
  flex-direction: column;
}